Access data here:https://drive.google.com/open?id=1fqhnETNivqsV73cV-DPQXIqWFiO12mhw

Copy files in the directory with this notebook or change path in pd.read_pickle().

To explore data, use cells below.

In [9]:
import pandas as pd
import random
import pickle
import datetime

In [27]:
def convert_to_date(date):
    if len(date)==6:
        date = pd.datetime.strptime(date[0:4]+" "+date[4:],"%Y %m")
    else:
        date = pd.datetime.strptime(date[0:4],"%Y")
        
    return date

In [28]:
df1=pd.read_pickle("text.pkl")
df2=pd.read_pickle("Aircraft.pkl")
df3=pd.read_pickle("Time.pkl")

Light preprocessing:

In [29]:
df3["Date"]=df3["Date"].apply(lambda date: convert_to_date(date))
df=pd.merge(df1[["ITEM_ID","Narrative" ,"Synopsis"]], df3[["ITEM_ID","Date"]],on="ITEM_ID")
df=df.sort_values("Date")
# rapport plus complets et plus lisibles, moins d abbreviations)
mask=df["Date"]>pd.datetime(2009,1,1)
df=df[mask].reset_index(drop=True)

In [30]:
df.head()

,ITEM_ID,Narrative,Synopsis,Date
0,824877,"While descending from a parachute drop at 14,0...",Flight crew of a turboprop powered parachute d...,2009-02-01
1,824882,This trip pairing had myself and the Captain g...,A319 First Officer reports that his airline's ...,2009-02-01
2,824829,On the ROYKO 3 RNAV arrival and arriving in Ch...,A CL65 on the ROYKO 3 RNAV to ORD Runway 27 e...,2009-02-01
3,824865,We wrote up an MEL for the compass deviation c...,A Captain and First Officer of a CE-560XL repo...,2009-02-01
4,824822,"Cleared for RIIVR2 arrival, ILS Runway 25L at ...",An FA2000 encountered a B757 wake vortex at ab...,2009-02-01

In [31]:
def syno_mod(df,df2,it=None):
    """
    returns model for one incident. 
    It it=None, then random row is choosen.
    """
    
    
    if it is None:
        sample_rows=random.sample(range(len(df)), 1)
        it=df.loc[sample_rows,"ITEM_ID"].item()
    print("item_id: %s" %it)
    print("")
    mask0=df2["ITEM_ID"]==it
    if len(df2[mask0]!=0):
        nb_acft=max(df2.loc[mask0,"ENUMERATOR"])
        acft_involved=df2.loc[mask0,"Make Model Name"].tolist()
        
        print("nb acft involved: %s"%nb_acft)
        print("Acft involved: %s"%acft_involved)

In [32]:
syno_mod(df,df2)

item_id: 966497

nb acft involved: 2
Acft involved: ['B737-700', 'B737 Undifferentiated or Other Model']


Goal of this hackaton is to create a NER algo able to recognize aircraft occurences in a document.

The main challenge is that there is no labelled data. Different teams NER performance will be compared on a labelled dataset.

Good luck!